<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245407248776-7i2elnvhkhoa58eet7su8ckjjja0pbak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245407248776-7i2elnvhkhoa58eet7su8ckjjja0pbak</string>
	<key>API_KEY</key>
	<string>AIzaSyBG-XcyUOIpn6BTeLIoOaF4jTXqEXzYy3c</string>
	<key>GCM_SENDER_ID</key>
	<string>245407248776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mentalHealthTracker</string>
	<key>PROJECT_ID</key>
	<string>sleep-tracker-app-22c61</string>
	<key>STORAGE_BUCKET</key>
	<string>sleep-tracker-app-22c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245407248776:ios:613b30afb8d1a3feb20a3d</string>
</dict>
</plist>